{% extends 'base/base.html' %}
{% load static %}

{% block tittle %}
Index
{% endblock %}

{% block contenido %}
<body>
    <div class="container my-5">
        
        <div class="alert alert-info display-1 text-center mb-5">
            <img src="{% static 'img/django.png' %}" alt="logo de django" width="100px" height="100px">
            SISTEMA DE RESERVAS
        </div>
        <div class="d-grid gap-2">
            <a href="{% url 'listadereservas' %}" class="btn btn-info" type="button">Ir a Reservas</a>
            <a  class="btn btn-warning" type="button">Ir a Admin</a>
            <a href="{% url 'cReservasAPI' %}"class="btn btn-secondary" type="button">Ir a API de Reservas</a>
        </div>
    </div>
</body>
</html>
{% endblock %}
